{% extends "sport/index.html" %}
{% block addblock %}
    <form action="" method="post">
      {% csrf_token %}
          <div class="row">
            <div class="col-2 padd-top padd-left" style=" height: 91vh;">
              <div class="form-group">
                <button type="submit" name="button" value="save" class="btn btn-block btn-dark" style="margin-top: 15px;">Сохранить</button>
              </div>
            </div>
            <div class="col-md-9 padd-top">
                <h3>Добавление {{whatweadding}}</h3>
                <div class="form-group" style="border: 2px solid grey; border-radius: 5px; padding: 10px; margin-top: 15px;" >
                    {{ form.as_p }}
                </div>
              </div>
            </div>
    </form>
  </div>
{% endblock %}
