{% extends "sport/index.html" %}
{% load static %}
    {% block edit %}
    {% if not save_error %}
    <form action="" method="post">
      {% csrf_token %}
          <div class="row">
            <div class="col-2 padd-top padd-left" style=" height: 91vh;">
              <div class="form-group">
                <button type="submit" name="button" value="save" class="btn btn-block btn-dark" style="margin-top: 15px;">Сохранить</button>
                {% if not create %}
                <button type="submit" name="button" value="copy" class="btn btn-block btn-dark" style="margin-top: 15px;">Копировать</button>
                <button type="submit" name="button" value="delete" class="btn btn-block btn-dark" style="margin-top: 15px;">Удалить</button>
                <a href="{% url 'sport:requestapproved' competition_id %}?next={{ request.path }}" class="btn btn-block btn-primary" style="margin-top: 15px;">Поданные заявки</a>
                <a href="{% url 'sport:teamresult' competition_id %}?next={{ request.path }}" class="btn btn-block btn-primary" style="margin-top: 15px;">Посмотреть результаты</a>
                {% endif %}
              </div>
            </div>
            <div class="col-md-9 padd-top">
              <div class="">
                {% if copy %}
                <h3>{{ copy }}</h3>
                {% else %}
                <h3>{{ name }}</h3>
                {% endif %}
              </div>
              <div class="scroll">
                <div class="form-group" style="border: 2px solid grey; border-radius: 5px; padding: 10px; margin-top: 15px;" >
                    <h5>Основные атрибуты соревнования</h5>
                    <div class="form-group">
                      {{ form.date.errors }}
                      <label for="{{ form.date.id_for_label }}">Дата проведения:</label>
                      {{ form.date }}
                      {{ form.place.errors }}
                    </div>
                    <div class="form-group">
                      <label for="{{ form.place.id_for_label }}">Место проведения:</label>
                      <div class="row">
                        <div class="col-11">
                          {{ form.place }}
                        </div>
                        <div class="col-1">
                          <a href="{% url 'sport:placeadding' %}?next={{ request.path }}">
                            <i class="fa fa-plus add-plus" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      {{ form.sport.errors }}
                      <label for="{{ form.sport.id_for_label }}">Вид спорта:</label>
                      <div class="row">
                        <div class="col-11">
                          {{ form.sport }}
                        </div>
                        <div class="col-1">
                          <a href="{% url 'sport:sportadding' %}?next={{ request.path }}">
                            <i class="fa fa-plus add-plus" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      {{ form.result.errors }}
                      <label for="{{ form.result.id_for_label }}">Мероприятие проведено:  </label>
                      {{ form.result }}<br>
                      <label style="font-size: 15px; color: grey; margin-top: 0px;">Поставьте галочку если проведено</label>
                    </div>
                  </div>
                    <div class="form-group" id="judge_div" style="border: 2px solid grey; border-radius: 5px; padding: 10px;" >
                      <h5>Судьи</h5>

                            {{ formset.management_form }}
                            {% for form in formset %}
                            <!--<h6>Судья №{{ formset.count }}</h6>-->
                            <div class="form-group count {{ form.instance.id }}" id="forclone" style="border: 2px solid grey; border-radius: 5px; padding: 10px;">
                              {{ form.as_table}}
                            </div>
                            <!--p class="kostyl" id="kostyl" style="display:none;">{{forloop.counter}}</p>-->
                            {% endfor %}

                    </div>
                    <div class="">
                      <button type="button" name="button" class="btn btn-block btn-primary" onclick="showform()">Добавить судью</button>
                    </div>
                    <!--{{ form_person.as_p }}-->
              </div>
            </div>
          </div>

    </form>
    {% endif %}
    {% if save_error %}
    <label class="error" style="color: red;">{{ save_error }}</label>
    {% endif %}
      <script type="text/javascript" src="{% static 'scripts/judge.js' %}"></script>
    {% endblock %}
