{% extends "sport/index.html" %}

{% load static %}
{% block competition %}
{% if user.is_authenticated %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-2 padd-left padd-top">
        <a href="{% url 'sport:competitioncreate' %}" class="btn btn-primary btn-block">Добавить соревнование</a>
        <a href="{% url 'sport:sportadding' %}" class="btn btn-primary btn-block">Добавить вид спорта</a>
        <a href="{% url 'sport:placeadding' %}" class="btn btn-primary btn-block">Добавить место проведения</a>
      </div>
      <div class="col-9">
        <script id="template" type="text/template">
          <h3 class="padd-top-competition">Список соревнований</h3>
            <div class="search-form bg-dark">
              <div class="row">
                <div class="col-1 ">
                  <p>Поиск: </p>
                </div>
                <div class="col-11">
                  <input type="text" class="search form-control" placeholder="Введите строку для поиска..." />
                </div>
              </div>
            </div>
            <div class="flex top-bar-competition bg-dark">
              <input type="checkbox" name="" value="" class="all top-bar-competition-chek" data-id="d1">
              <div class="showhide-div" id="showhide-div">
                <input type="submit" name="delete-competition" class="btn btn-primary top-bar-competition-btn" value="Удалить" onclick="checkchekboxes()">
                <input type="submit" name="close-competition" class="btn btn-primary top-bar-competition-btn" value="Закрыть">
                <input type="submit" name="copy-competition" class="btn btn-primary top-bar-competition-btn" value="Скопировать">
              </div>
            </div>
            <div class="scroll">
              <table class="table table-hover table-bordered table-sm" id="tbl_1" style="font-size: 18px;">
                  <thead class="active thead-light">
                  <tr>
                      <th style="width: 3%"> </th>
                      <th class="table-warning" style="width: 3%">№</th>
                      <th style="width: 20%" >Вид спорта</th>
                      <th style="width: 20%" >Дата</th>
                      <th style="width: 20%" >Место</th>
                  </tr>
                  </thead>
                    <tbody>
                    </tbody>
              </table>
            </div>
          </script>
          <div id="insert">
          </div>
      </div>
    </div>
  </div>
  <script>
    {% include 'js/tablescript.js' %}
    $("#showhide-div").hide();

    $(document).ready(function() {
    $(".all").on("change", function() {
        var groupId = $(this).data('id');
        $('.one[data-id="' + groupId + '"]').prop("checked", this.checked);
      });
    $(".one").on("change", function() {
        var groupId = $(this).data('id');
        var allChecked = $('.one[data-id="' + groupId + '"]:not(:checked)').length == 0;
        $('.all[data-id="' + groupId + '"]').prop("checked", allChecked);
        $('.all[data-id="' + groupId + '"]').prop("checked")
      });
    });
    $( ".all" ).change(function() {
      if ($(".all").prop("checked")){
          $("#showhide-div").show();
        }
      else {
         $("#showhide-div").hide();
       };
    });

    function checkchekboxes() {
      var data1=[];
      $('input:checkbox:checked').each(function() {
        data1.push($(this).attr("id"));
      });
      console.log(data1);
      $.ajax({
        url: "{% url 'sport:competition' %}",
        data: {
          data1,
          'operation':'delete',
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        method: "post",
      })
    }

  </script>
{% else %}
  <div class="container">
      <h3>Войдите чтобы видеть список соревнований</h3>
  </div>
{% endif %}
{% endblock %}
