{% extends "sport/index.html" %}

{% load static %}
{% block competition %}
{% if user.is_authenticated %}
  <div class="row">
    <div class="container-fluid">
      <div class="container competitiond-menu bg-dark">
        <a href="{% url 'sport:competitioncreate' %}" class="btn btn-primary">Добавить соревнование</a>
        <a href="{% url 'sport:competitioncreate' %}" class="btn btn-primary">Копировать соревнования</a>
        <a href="{% url 'sport:competitioncreate' %}" class="btn btn-primary">Удалить соревнования</a>
        <a href="{% url 'sport:competitioncreate' %}" class="btn btn-primary">Закрыть  соревнования</a>
      </div>
      <div class="container">
        <script id="template" type="text/template">
          <table class="table table-hover table-bordered table-sm" id="tbl_1">
              <thead class="active thead-light">
              <tr>
                <h3 class="padd-top-competition">Список соревнований</h3>
                  <div class="search-form bg-dark">
                    <div class="row">
                      <div class="col-1 ">
                        <p>Поиск:</p>
                      </div>
                      <div class="col-11">
                        <input type="text" class="search form-control" placeholder="Введите строку для поиска..." />
                      </div>
                    </div>
                  </div>
                  <th class="table-warning" style="width: 5%">№</th>
                  <th style="width: 20%" >Вид спорта</th>
                  <th style="width: 20%" >Дата</th>
                  <th style="width: 20%" >Место</th>

              </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
          </script>
          <div id="insert"></div>
      </div>
    </div>

  </div>
  <script>
    {% include 'js/tablescript.js' %}
  </script>
{% else %}
  <div class="container">
      <h3>Войдите чтобы видеть список соревнований</h3>
  </div>
{% endif %}
{% endblock %}
