{% extends "sport/index.html" %}
{% block css %} {{ form.media.css }}{% endblock %}

{% block js %} {{ form.media.js }} {% endblock %}

{% block result_change %}


    <form method="POST" action="">{% csrf_token %}

        <div class="row">
            <div class="col-md-2 padd-top padd-left">
                <div class="form-group">
                    <button type="submit" name="button" value="save" class="btn btn-block btn-dark" style="margin-top: 15px;">Сохранить</button>

                    <a href="http://localhost:8000/CM/teamresult/" role="button" class="btn btn-block btn-dark">Таблица результатов
                    </a>
                </div>
            </div>

            <div class="col-md-10 padd-top padd-left">
                <div class="col-md-10 padd-top padd-left" style="border: 2px solid grey; border-radius: 5px; padding: 10px; margin-top: 15px;">
                <h5>Редактировать результаты</h5>
                {{ form_competition }}

                {{ formset.management_form }}
                    {% for f1 in formset %}
                        {{ f1.as_p }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}
