{% extends "sport/index.html" %}
{% block content_add %}

<!--<button type="button" class="btn-sm btn-info">Оформить заявку</button>-->

<div class="col-sm">

    <form method="POST" action="">{% csrf_token %}

        <!--div class="form-group row">
            <label for="sport" class="col-sm-1 col-form-label">Вид спорта</label>
            <div class="col-sm-6">
                <input type="text" id="sport" class="form-control" aria-describedby="sportHelp" placeholder="Введите вид спорта" name="sport">
                <small id="sportHelp" class="form-text text-muted">этоподсказка</small>
            </div>
        </div>

        <div class="form-group row">
            <label for="organzation" class="col-sm-1 col-form-label">Организация</label>
            <div class="col-sm-6">
                <input type="text" id="organzation" class="form-control" aria-describedby="orgHelp" placeholder="Введите организацию" name="org">
                <small id="orgtHelp" class="form-text text-muted">этоподсказка</small>
            </div>
        </div>

        <div class="form-group row">
            <label for="team" class="col-sm-1 col-form-label">Команда</label>
            <div class="col-sm-6">
                <input type="text" id="team" class="form-control" aria-describedby="teamHelp" placeholder="Введите название комманды" name="team">
                <small id="teamtHelp" class="form-text text-muted">этоподсказка</small>
            </div>
        </div>

        <div class="form-check">
            <input type="radio" id="zach1" name="zach" class="form-check-input" value="В зачете" checked>
            <label for="zach1" class="form-check-label">В зачете</label>
        </div>
        <div class="form-check">
            <input type="radio" id="zach0" name="zach" class="form-check-input" value="Вне зачета">
            <label for="zach0" class="form-check-label">Вне зачета</label>
        </div-->
        {{ form }}
        <input type="submit" value="Сохранить" />

        <a href="http://localhost:8000/CM/teamtable/">
         <input type="button" value="Редактировать">
        </a>
    </form>

</div>


{% endblock %}