{% extends "sport/index.html" %}
{% block TeamResult %}
<div class="container" style="min-height: 79.5vh;">
  <h3>Результаты соревнования: {{ competition_name }}</h3>
  {% if is_empty %}
  <p>По данному соревнованию результатов пока нет</p>
  <p>Вернитесь позже</p>
  {% else %}
  <table class="table table-hover table-bordered table-sm table-justified">
      <thead class="active thead-light">
        <tr>
          <th class="table-warning" style="width: 4%">№</th>
          <!--th style="width: 20%">Соревнование</th-->
          <th style="width: 10%">УчП</th>
          <th style="width: 50%">Команда</th>
          <th style="width: 10%">Место</th>
          <th style="width: 10%">Очки</th>
          <!--<th style="width: 10%">Управление</th>-->
        </tr>
      </thead>
      <tbody>
        {% for item in teamRes.teamresult %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.team.organization.name }}</td>
            <td>{{ item.team.name }}</td>
            <td>{{ item.result }}</td>
            <td>{{ item.points }}</td>
          </tr>
        {% endfor %}
          <!--
          {% for t in teamRes %}
          <tr>

                  <td>{{ forloop.counter }}</td>
                  {% ifchanged %}<td>{{t.competition}}</td>{% else %}<td></td>{% endifchanged %}

                      <td>{{t.team}}</td>
                      <td>{{t.result}} </td>
                      <td>{{t.points}}</td>-->

                  <!--<td>-->

                      <!--<div class="dropdown">-->
                          <!--<a class="btn btn-light dropdown-toggle-none" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                              <!--Операции-->
                          <!--</a>-->
                          <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->
                              <!--<a class="dropdown-item" onclick="location.href='/CM/teamtable/{{t.id}}/change/'">Изменить заявку</a>-->
                              <!--<a class="dropdown-item" href="/CM/create/">Подать заявку</a>-->
                              <!--<a class="dropdown-item" onclick="location.href='/CM/teamtable/{{t.id}}/teamremove/'">Удалить заявку</a>-->
                        <!--</div>-->
                      <!--</div>-->
                  <!--</td>-->
                  <!--
          </tr>
          {% endfor %}-->
      </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
