{% extends "sport/index.html" %}
{% block table_input %}
<div>
    <table class="table table-hover table-bordered table-sm table-justified" id="#table_1">
        <thead class="active thead-light">
            <tr>
                <th class="table-warning" style="width: 5%">№</th>
                <th style="width: 20%">Соревнование</th>
                <th style="width: 20%">Организация</th>
                <th style="width: 20%">Команда</th>
                <th style="width: 20%">Зачет/Вне зачета</th>
            </tr>
        </thead>
        <tbody>
            {% for t in teams %}

            <tr onclick="location.href='/CM/change/?t.id={{t.id}}'">
                    <td>{{ t.id }}</td>
                    <td>{{t.competition}} </td>
                    <td>{{t.organization}}</td>
                    <td>{{t.name}} </td>
                    <td>{{t.not_resultable}}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}