{% extends "sport/index.html" %}
{% block css %} {{ form.media.css }}{% endblock %}

{% block js %} {{ form.media.js }} {% endblock %}

{% block tmember_table %}
        <div class="container">
            <table class="table table-hover table-bordered table-sm table-justified">
                <thead class="active thead-light">

                        <th class="table-warning" style="width: 4%">№</th>
                        <th style="width: 20%">Команда</th>
                        <th style="width: 20%">Участники</th>
                        <th style="width: 20%">Комментарии</th>
                        <th style="width: 3%">Управление</th>

                </thead>
                <tbody>
                    {% for t in teamMember %}
                    <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{t.team}} </td>
                            <td>{{t.sportsman}} </td>
                            <td>{{t.comments}} </td>
                            <td>
                                <div class="dropdown">
                                    <a class="btn btn-light dropdown-toggle-none" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Операции
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href='/CM/memPersAdd/'>Добавить спортсмена</a>
                                        <a class="dropdown-item" onclick="location.href='/CM/tmembertable/{{t.id}}/membChange/'">Редактировать спортсмена</a>
                                        <a class="dropdown-item" onclick="location.href='/CM/tmembertable/{{t.id}}/membremove/'">Удалить спортсмена</a>
                                  </div>
                                </div>
                            </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
{% endblock %}