.nav-item{
  padding-left: 30px;
}
.competition-slider-container{
  margin-top: 30px;
}
.competition-slider{
  height: 430px;
  border-radius: 5px;
  display: flex;
  margin-right: 5px;
  margin-left: 5px;
}
.competition-slider h3{
  color: #fff;
  font-size: 40px;
  padding-top: 200px;
}
.competition-slider p{
  color: #fff;

  padding-top: 15px;
  padding-right: 20px;
}
.competition-slider-info-btn{
  float: right;
  margin-right: 5px;
  margin-top: 205px;

}
.competition-list-container{
  margin-top: 30px;
}
.competition-container-main{
  background:#D3D5DE;
  color: #000;
  border-radius: 5px;
  display: flex;
  margin-bottom: 10px;
}
.competition-container-main h3{
  padding-top: 20px;
  font-size: 45px;
  padding-bottom: 20px;
  color: black;
}
.competition-container-main p{
  margin-bottom: 0px;
}
.competition-span{
  font-size: 20px;
}
.competition-btn{
  float: right;
  margin-top: 35px;
}
.col-9{
  padding: 0;
  margin: 0;
}
.padd-left{
  padding-left: 35px;
  padding-right: 15px;
  padding-top: 20px;
}
.padd-right{
  padding-left: 15px;
  padding-right: 35px;
  padding-top: 20px;
}
.right-float{
  float: right;
}
.left-float{
  float: left;
}
.scroll{
  height: 91vh;
  overflow-y: scroll;
}
