.nav-item{
  padding-left: 30px;
}
.competition-slider-container{
  margin-top: 30px;
}
.competition-slider{
  height: 400px;
  width: 100%;
  border-radius: 5px;
  display: flex;
}
.carousel-control-next{
  margin-right: -60px;
}
.carousel-control-prev{
  margin-left: -60px;
}
.competition-slider h3{
  color: #fff;
  font-size: 40px;
  padding-top: 143px;
}
.competition-slider p{
  color: #fff;

  padding-top: 15px;
  padding-right: 20px;
}
.competition-slider-info-btn{
  float: right;
  margin-right: 5px;
  margin-bottom: 40px;
  margin-top: 325px;

}
.competition-list-container{
  margin-top: 30px;
}
.competition-container-main{
  background:#D3D5DE;
  color: #000;
  border-radius: 5px;
  display: flex;
  margin-bottom: 10px;
}
.competition-container-main h3{
  padding-top: 20px;
  font-size: 45px;
  padding-bottom: 20px;
  color: black;
}
.competition-container-main p{
  margin-bottom: 0px;
}
.competition-span{
  font-size: 20px;
}
.competition-btn{
  float: right;
  margin-top: 35px;
}
.col-9{
  padding: 0;
  margin: 0;
}
.padd-left{
  padding-left: 35px;
  padding-right: 15px;
  padding-top: 20px;
}
.padd-top{
  margin-top: 30px;
}
.padd-right{
  padding-left: 15px;
  padding-right: 35px;
  padding-top: 20px;
}
.right-float{
  float: right;
}
.left-float{
  float: left;
}
.scroll{
  height: 91vh;
  overflow-y: scroll;
}
.competitiond-menu{
  margin-top: 10px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 5px;
  position: fixed;
  margin-left: 160px;
}
.search-form{
  border-radius: 5px;
  color: #fff;
  margin-bottom: 10px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-right: 8px;
}
.search-form p{
  font-size: 20px;
  padding-top: 2px;
  padding-left: 10px;
  margin-bottom: 3px;
}
.padd-top-competition{
  margin-top: 20px;
}
.flex{
  display: flex;
}
.top-bar-competition{
  border-radius: 5px;
  height: 30px;
}
.top-bar-competition-btn{
  height: 25px;
  font-size: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 2px;
}
.top-bar-competition-btn value{
  padding-top: 0px;
  margin-top: 0px;
}
.top-bar-competition-chek{
  margin-top: 9px;
  margin-left: 6px;
  margin-right: 6px;
}
.scroll{
  height: 72vh;
  overflow-y: scroll;
}
.scroll-80{
  height: 80vh;
  overflow-y: scroll;
}
.pagination{
  padding-top: 30px;
  padding-bottom: 30px;
}
.pagination a{
  margin-left: 5px;
  margin-right: 5px;
}
.pagination-current{
  font-size: 20px;
}
.add-plus{
  margin-top: 10px;
  margin-left: -20px;
}
